@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

.head{
    background-color: #2E323F;
    padding: 0.8em;
}

.title1{
    color: #FFFFFF;
    font-size: 48px;
}

.title2{
    color: #A59678;
    font-size: 48px;
}

.para1{
    color: #FFFFFF;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.button{
    background-color: #A59678;
    text-transform: uppercase;
    padding: 0.5em;
    margin: 1em;
    border-radius: 100px;
    color: #FFFFFF;
    font-weight: bold;
}

.section1{
    background: lightgray;
    padding: 2em 1em;
}

.section1 h4{
    color: #A59678;
    font-size: 24px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    margin-top: 0.5em;
}

.section1 p{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 0.5em;
}

.section2{
    padding: 1em;
}

.section2_title{
    color: #A59678;
    font-size: 36px;
    font-family: 'Oswald', 'sans-serif';
    margin: 0.75em;
}

.column1{
    font-family: 'Montserrat', sans-serif;
}

.column2 .content{
    background: #2E323F;
    margin-top: 1em;
    color: white;
    padding: 1.5em;
}

.column2 .content h4{
    font-family: 'Oswald', 'sans-serif';
    font-size: 20px;
    text-align: center;
    margin-bottom: 0.5em;
}

.column2 .content p{
    text-align: center;
}

.footer-title{
    font-family: 'Oswald', 'sans-serif';
    font-size: 24px;
    text-align: center;
    margin-bottom: 0.6em;
}

.footer-details{
    text-align: center;
    padding: 0 0.5em;
}

footer{
    background: #2E323F;
    color: white;
    padding: 1em;
    text-align: center;
}

footer h5{
    color: #A59678;
    font-family: 'Oswald', 'sans-serif';
    font-size: 21px;
}

.footer-list{
    margin: 0.6em 0em;
}

.footer-list ul li{
    text-decoration: none;
    list-style-type: none;
    padding: 0.5em 0em;
}

@media (min-width: 700px) {
    .row{
        display: flex;
    }

    .row1{
        align-items: flex-end;
        padding: 4em 3em;
    }

    .row1 .col{
        width: 100%;
    }

    .row1 .col + .col {
        margin-left: 1em;
    }

    .title1, .title2{
        font-size: 60px;
    }

    .section1{
        width: 100%;
        padding: 3em;
    }

    .section1 .col{
        padding: 1em;
    }

    .section2{
        padding: 3em;
    }

    .section2 .column2{
        margin-left: 2em;
    }

    .footer-title{
        font-size: 36px;
    }

    footer .col{
        width: 100%;
    }

}